<div class="top">
  <h1>Techzon</h1>
</div>
<div class="item-container">
  <!--ここを記述しましょう-->
    <p>まだ商品がありません</p>
  <!--ここを記述しましょう-->
      <div class="item">
        <a href="/">
          <img src="">
        </a>
        <p>商品名</p>
        <p class="item-price">商品金額</p>
      </div>
</div>
