<div class="product-container">
  <!-- ここを記述しよう！ -->
    <img src="">
  <div>
    <p>商品名</p>
    <p class="item-price">商品金額</p>
    <form action="/" method="">
      <input type="" value=""></input>
    </form>
  </div>
</div>